@charset "UTF-8";
/* CSS Document */
.home {
    display: block;
    margin: 15px 0;
    height: auto; /* 350 */
    width: 100%;
 }
body {
 font-family: "caviar dreams";
 font-weight: bold;
}

.map {
    background-repeat: no-repeat;
    background-size: contain ;
    margin: 20px;
    height: 350px;
    width: 500px;
    position: center ; 
 }

 h1 {
     font-size: 30pt;
     padding: 20px 0;
 }

 h2 {
     color: white;
     font-size: 20pt;
 }

footer {
    background-color: rgba(63,123,127,1.00);
    margin-top: 150px;
    padding: 20px 0;
}

footer p {
    color: white;
}

.border{
    border-bottom:5px solid rgb(239,197,132);
    text-align: center;
    padding: 10px;
}

/*.portfolio{
    position: relative;

}*/

/*.overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:white;
}*/

.vlak{
    background:rgba(63,123,127,1.00)
}

.afbeeldingdiensten{
    margin:40px;
    width: 100%;

}

.link {
    text-decoration: none;
    color: black;
}

.icon-facebook2{
    color:white;
    text-decoration: none;
}

.icon-instagram{
    color:white;
    text-decoration: none; 
}



input{
    margin: 20px 0px;
    width: 100%;
    height: 47px;
    background-color: lightgrey;
}

iframe{
    width: 100%;
    height: 457px;
    margin-top: 95px;
    border: none;
}

.bericht{
    height: 276px;
}

.verzenden{
    text-align: center;
}

.afbeeldingportfolio{
    width:360px;
    height:250px;
    margin-bottom:10px;
    
}